body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #EDF2FB;
    margin: 3% 5%;
    color: #0D1B2A;
}

/* flexbox */
.main-setup {
    display: flex;
    gap: 50px;
    flex-direction: column;
}
.row {
    display: flex;
    gap: 30px;
}

/* alignment  */ /* use padding ? */
h3, #notes p {
    margin-left: 20px;
}
h3, #ingredients ul, #notes p, #steps ol {
    margin-right: 20px;
}

/* items */
#intro, #main-img, #main-img img, #ingredients, #steps, #notes {
    border-radius: 25px;
    width: 100%
}
#intro {
    background-color: #D2DFFD;
    text-align: center
}
#main-img, #ingredients, #steps, #notes { 
    background: linear-gradient(#D2DFFD 10%, #DDE7FC 10%);
    height: 500px;
}
#main-img img {
    object-fit: cover
}
#main-img, #notes {
    width: 375px;
    flex: 0 0 375px
}
#ingredients h5, #ingredients h3 {
    display: inline-block
}

/* ingredients strikethrough */
ul li:hover {
    font-weight: 550;
    cursor: pointer
}
ul li:hover, ul li.checked {
    text-decoration: line-through
}
ol {
    padding-left: 53px
}
